/* global page */

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
	-webkit-text-size-adjust: none;
}

.scroll {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* login view */

.login-form {
  box-sizing: border-box;
  height: 100%;
  padding: 15px;
  width: 100%;
}

.login-form input {
  box-sizing: border-box;
  height: 32px;
  padding: 6px 10px;
  width: 100%;
}

#logo {
  background: url(../images/logo@2x.png) center center no-repeat;
  height: 160px;
  margin: 20px auto;
  width: 300px;
  -webkit-background-size: 300px 160px;
}

.login-label {
  color: #666;
  font-weight: 200;
  text-align: center;
  margin-bottom: 50px;
}

/* goals view */

.header-toolbar {
  height: 44px;
  color: #FFF;
  position: absolute;
  z-index: 100;
  width: 100%;
  border-radius: 0;
  -webkit-border-radius: 0;
  border-top: none;
  border-left: none;
  padding-left: 0;
  
  background-image: linear-gradient(bottom, rgb(0,59,98) 0%, rgb(67,118,144) 100%);
  background-image: -o-linear-gradient(bottom, rgb(0,59,98) 0%, rgb(67,118,144) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0,59,98) 0%, rgb(67,118,144) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(0,59,98) 0%, rgb(67,118,144) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(0,59,98) 0%, rgb(67,118,144) 100%);
  
  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0, rgb(0,59,98)),
  	color-stop(1, rgb(67,118,144))
  );
}

.header-toolbar .left-btn {
  cursor: pointer;
  font-size: 13px;
  line-height: 45px;
  padding: 0 16px;
  position: absolute;
}

.header-toolbar h1 {
  font-size: 16px;
  height: 100%;
  line-height: 44px;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  width: 80%;
}

#goal-forms {
  bottom: 48px;
  background: #FCFCFC;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 16px;
  top: 44px;
  width: 100%;
}

#goal-footer {
  bottom: 0;
  height: 48px;
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  border-top: 1px solid #DDD;
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
  width: 100%;
}

.goal-item {
  background: #FFF;
  float: left;
  position: relative;
  border-radius: 4px;
  margin: 3% 0 0 3%;
  height: 160px;
  width: 45.5%;
  box-sizing: border-box;
  padding: 16px;
  -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.3);
  -webkit-transition: all 200ms ease-in-out 0s;
}

.goal-title {
  font-size: 24px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}

.goal-item:nth-child(even) {
  margin-right: 3%;
}

#update-btn {
  width: 100%;
}

.goal-item.unset .goal-value {
  display: none;
}

.goal-item.unset .goal-unit {
  display: none;
}

.goal-item.unset .value-field {
  display: none;
}

.goal-item.unset .goal-label {
  display: none;
}

.goal-item .set-goal-btn {
  display: none;
}

.goal-item.unset .set-goal-btn {
  display: block;
}

.goal-item .value-field {
  display: block;
  margin: 0 auto;
  width: 100px;
}

.goal-item .goal-label {
  margin: 10px auto;
  display: block;
  font-size: 13px;
  height: 40px;
  font-weight: 400;
  padding: 4px 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.set-goal-btn {
  margin: 20px auto;
  margin-top: 44px;
  bottom: 16px;
}

.goal-item.updating {
  opacity: .6;
  -webkit-box-shadow: 0px 0px 3px 2px #468BEC;
  -moz-box-shadow: 0px 0px 3px 2px #468BEC;
  box-shadow: 0px 0px 3px 2px #468BEC;
  -webkit-transition: all 200ms ease-in-out 0s;
}

/* item list */

ul.list {
  position: absolute;
  top: 44px;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: -1;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

li.goal-header {
  background: #EEE;
  color: #333;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  border-top: 1px solid #CCC;
  padding: 0 12px;
  box-sizing: border-box;
}

li.goal-header:first-child {
  border-top-color: transparent;
}

li.goal-list-item {
  cursor: pointer;
  height: 44px;
  line-height: 44px;
  border-top: 1px solid #CCC;
  font-size: 14px;
  padding: 0 12px;
  box-sizing: border-box;
}

li.goal-list-item:last-child {
  border-bottom: 1px solid #CCC;;
}

li.goal-list-item:active {
  background: #468BEC;
  border-top-color: transparent;
  color: #FFF;
}

li.goal-list-item:active:last-child {
  border-bottom-color: transparent;
}

li.goal-list-item:active + li {
  border-top-color: transparent;
}

/* update form */

.goals-form {
  position: absolute;
  padding: 16px;
  top: 44px;
  width: 100%;
  box-sizing: border-box;
}

.goals-form input, .goals-form select {
  width: 100%;
}

.goals-form input {
  box-sizing: border-box;
  height: 32px;
  padding: 6px 10px;
  width: 100%;
}

.goal-info .goal-name {
  margin-bottom: 16px;
  text-align: center;
  font-size: 18px;
}

.update-msg {
  line-height: 28px;
  text-align: center;
  font-size: 14px;
}