/* global page */

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
	-webkit-text-size-adjust: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.scroll {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

select {
  border: 1px solid #CCC;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.hidden {
  display: none;
}

div, span, li, ul {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-backface-visibility: hidden;
}

/* navigation view */

.navigation-view {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.navigation-view > .view {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-background-size-backface-visibility: hidden;
}

.navigation-view.animated > .view {
  -webkit-transition: -webkit-transform 300ms ease-in-out 0s;
  -moz-transition: -webkit-transform 300ms ease-in-out 0s;
  -o-transition: -o-transform 300ms ease-in-out;
  -ms-transition: -o-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out 0s;
}

.navigation-view > .view.preload {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translate(100%);
  -ms-transform: translate(100%);
  transform: translateX(100%);
}

.navigation-view.animated > .view.pushed.hidden {
  display: block;
}

.navigation-view > .view.active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translate(0);
  -ms-transform: translate(0);
  transform: translateX(0);
}

.navigation-view.animated > .view.active.hidden {
  display: block;
}

.navigation-view > .view.unload {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translate(-100%);
  -ms-transform: translate(-100%);
  transform: translateX(-100%);
}

.navigation-view.animated > .view.unload.hidden {
  display: block;
}

/* error */

#error {

  background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, .85);
	color: #FFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 300;
	left: 50%;
	margin-top: -25px;
	margin-left: -130px;
	opacity: 0;
	padding: 10px;
	position: absolute;
	text-align: center;
	text-overflow: ellipsis;
	text-shadow: none;
	top: 40%;
	width: 240px;
	z-index: 999999999999999;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	-webkit-transform: scale3d(.8, .8, .8);
	-moz-transform: scale3d(.8, .8, .8);
	-o-transform: scale3d(.8, .8, .8);
	-ms-transform: scale3d(.8, .8, .8);
	transform: scale3d(.8, .8, .8);
	
	-webkit-transition: all 200ms ease-in-out 0s;
	-moz-transition: all 200ms ease-in-out 0s;
	-o-transition: all 200ms ease-in-out 0s;
	-ms-transition: all 200ms ease-in-out 0s;
	
}

#error.icon {
  height: 160px;
  line-height: 290px;
  width: 200px;
  margin-left: -110px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 36px;
  -webkit-background-size: 90px 90px;
  -moz-background-size: 90px 90px;
  -background-size: 90px 90px;
}

#error.visible {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	-moz-transform: scale3d(1, 1, 1);
	-o-transform: scale3d(1, 1, 1);
	-ms-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	
	-webkit-transition: all 200ms ease-in-out 0s;
	-moz-transition: all 200ms ease-in-out 0s;
	-o-transition: all 200ms ease-in-out 0s;
	-ms-transition: all 200ms ease-in-out 0s;
}

/* modal view */

.modal-view {
  background: #FFF;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  opacity: 1;
  
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
    transform: translateY(100%);
  
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  -moz-transition: -moz-transform 350ms ease-in-out;
  -o-transition: -o-transform 350ms ease-in-out;
  -ms-transition: -ms-transform 350ms ease-in-out;
}

.modal-view.visible {

  opacity: 1;
  
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  -moz-transition: -moz-transform 350ms ease-in-out;
  -o-transition: -o-transform 350ms ease-in-out;
  -ms-transition: -ms-transform 350ms ease-in-out;

}

.modal-view {
  top: 44px;
}

/* views */

.view {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* goal form */

#goal-forms {
  overflow: hidden; 
}

/* goal items */

.goal-item {
  background: #EEE;
  padding: 10px;
  margin: 5%;
  box-sizing: border-box;
  float: left;
  min-height: 160px;
  width: 40%;
}

@media screen and (min-width: 400px) {

  .goal-item {
    margin: 3%;
    width: 44%;
  }

}

@media screen and (min-width: 800px) {

  .goal-item {
    margin: 2%;
    width: 46%;
  }

}

@media screen and (min-width: 1200px) {

  .goal-item {
    margin: 1%;
    width: 48%;
  }

}


.goal-item .value-field {
  width: 100%;
  box-sizing: border-box;
}

.goal-item.unset .goal-name {
  display: none;
}

.goal-item.unset .goal-value {
  display: none;
}

.goal-item.unset .goal-unit {
  display: none;
}

.goal-item.unset .value-field {
  display: none;
}

.goal-item .set-goal-btn {
  display: none;
}

.goal-item.unset .set-goal-btn {
  display: block;
}

.goal-item.updating {
  opacity: .5;
}

/* login view */

.view.login {
  background: #F6F6F6;
}

.view.login h1 {
  color: #999;
  font-size: 36px;
  font-weight: 200;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.view.login label {
  color: #666;
  display: block;
  font-size: 14px;
  padding-left: 5%;
  padding-bottom: 6px;
}

#email-field {
  border: 1px solid #999;
  display: block;
  font-size: 16px;
  margin: 0 auto 20px auto;
  padding: 10px 12px;
  box-sizing: border-box;
  width: 90%;
}

#login-btn {
  display: block;
  font-size: 16px;
  margin: 0 auto 0 auto;
  padding: 10px 12px;
  box-sizing: border-box;
  width: 90%;
}

/* goals view */

.view.goals {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

/* header toolbar */

.header-toolbar {
  background: #DDD;
  height: 44px;
  width: 100%;
}

.header-toolbar .left-btn {
  position: absolute;
  left: 15px;
  padding: 0;
  margin: 0;
  line-height: 44px;
}

.header-toolbar h1 {
  height: auto;
  overflow: hidden;
  text-align: center;
  padding: 0;
  line-height: 44px;
  font-weight: 500;
  text-overflow: ellipsis;
  margin: 0 auto;
  width: 80%;
}

ul.list {
  position: absolute;
  top: 44px;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

li.goal-header {
  background: #CCC;
  color: #333;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #CCC;
  padding: 0 12px;
  box-sizing: border-box;
}

li.goal-header:first-child {
  border-top-color: transparent;
}

li.goal-list-item {
  cursor: pointer;
  height: 44px;
  line-height: 44px;
  border-top: 1px solid #CCC;
  padding: 0 12px;
  box-sizing: border-box;
}

li.goal-list-item:last-child {
  border-bottom: 1px solid #CCC;;
}

li.goal-list-item:active {
  background: #F00;
  border-top-color: transparent;
}

li.goal-list-item:active + li {
  border-top-color: transparent;
}

/* buttons */

#update-btn {
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
  border: 1px solid #CCC;
  background: #EEE;
  cursor: pointer;
}