/* global page */

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
	-webkit-text-size-adjust: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* box sizing */

.login-form, .login-form input, #goal-footer, .goal-item, li.goal-header, li.goal-list-item, .goals-form, .goals-form input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* login view */

.login-form {
  height: 100%;
  padding: 25px;
  width: 100%;
}

.login-form input {
  height: 36px;
  padding: 8px 10px;
  width: 100%;
}

@media screen and (min-width: 420px) {

  .login-form {
    margin: 0 auto;
    width: 350px;
  }

}

#logo {
  background: url(../images/logo@2x.png) center center no-repeat;
  height: 160px;
  margin: 20px auto;
  width: 300px;
  -webkit-background-size: 300px 160px;
  -moz-background-size: 300px 160px;
  -ms-background-size: 300px 160px;
  background-size: 300px 160px;
}

.login-label {
  color: #666;
  font-weight: 200;
  margin-bottom: 50px;
  text-align: center;
}

/* goals view */

.header-toolbar {
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #000;
  color: #FFF;
  height: 44px;
  padding-left: 0;
  position: absolute;
  width: 100%;
  z-index: 100;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  background-image: linear-gradient(bottom, rgb(0,59,98) 0%, rgb(67,118,144) 100%);
  background-image: -o-linear-gradient(bottom, rgb(0,59,98) 0%, rgb(67,118,144) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0,59,98) 0%, rgb(67,118,144) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(0,59,98) 0%, rgb(67,118,144) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(0,59,98) 0%, rgb(67,118,144) 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(0,59,98)), color-stop(1, rgb(67,118,144)));
}

.header-toolbar .left-btn {
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  height: 32px;
  line-height: 34px;
  margin: 5px 5px;
  padding: 0 12px;
  position: absolute;

  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.6), inset 0px 1px 0px #ffffff, 0px 1px 2px -1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 2px 1px -1px rgba(0, 0, 0, 0.25), inset 0px 0px 1px rgba(0, 0, 0, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.1);
  -webkit-background-size: 15px 32px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
}

.header-toolbar .left-btn:active {
  background: rgba(0, 0, 0, .3);
}

.header-toolbar h1 {
  font-size: 15px;
  font-weight: 600;
  height: 100%;
  line-height: 44px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0px -1px #000;
  width: 80%;
}

#goal-forms {
  background: #FCFCFC;
  bottom: 48px;
  padding-bottom: 16px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  top: 44px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

#goal-footer {
  border: none;
  border-top: 1px solid #DDD;
  bottom: 0;
  height: 48px;
  position: absolute;
  padding: 10px;
  width: 100%;
  
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  
}

.goal-item {
  background: #FFF;
  float: left;
  height: 160px;
  margin: 3% 0 0 3%;
  padding: 16px;
  position: relative;
  width: 45.5%;
  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
  -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.3);
  -webkit-transition: all 200ms ease-in-out 0s;
}

.goal-title {
  color: #F2AC00;
  font-size: 24px;
  font-weight: 600;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}

.goal-item.unset .goal-title {
  color: #999;
}

.goal-item:nth-child(even) {
  margin-right: 3%;
}

#update-btn {
  width: 100%;
}

.goal-item.unset .goal-value, .goal-item.unset .goal-unit, .goal-item.unset .value-field, .goal-item.unset .goal-label, .goal-item .set-goal-btn {
  display: none;
}

.goal-item.unset .set-goal-btn, .goal-item .value-field {
  display: block;
}

.goal-item .value-field {
  margin: 0 auto;
  width: 100px;
}

.goal-item .goal-label {
  display: block;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  margin: 10px auto;
  overflow: hidden;
  padding: 4px 0;
  text-align: center;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.set-goal-btn {
  bottom: 16px;
  margin: 44px auto 20px auto;
}

.goal-item.updating {
  opacity: .6;
  
  -webkit-box-shadow: 0px 0px 3px 2px #468BEC;
  -moz-box-shadow: 0px 0px 3px 2px #468BEC;
  box-shadow: 0px 0px 3px 2px #468BEC;
  
  -webkit-transition: all 200ms ease-in-out 0s;
  -moz-transition: all 200ms ease-in-out 0s;
  transition: all 200ms ease-in-out 0s;
}

/* item list */

ul.list {
  bottom: 0;
  position: absolute;
  top: 44px;  
  width: 100%;
  z-index: -1;
}

li.goal-header {
  background: #EEE;
  border-top: 1px solid #CCC;
  color: #333;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding: 0 12px;
}

li.goal-header:first-child {
  border-top-color: transparent;
}

li.goal-list-item {
  border-top: 1px solid #CCC;
  cursor: pointer;
  font-size: 14px;
  height: 44px;
  line-height: 44px;  
  padding: 0 12px;
}

li.goal-list-item:last-child {
  border-bottom: 1px solid #CCC;;
}

li.goal-list-item:active {
  background: #468BEC;
  color: #FFF;
}

li.goal-list-item:active:last-child {
  border-bottom-color: transparent;
}

li.goal-list-item:active + li, li.goal-list-item:active {
  border-top-color: transparent;
}

/* update form */

.goals-form {
  padding: 16px;
  position: absolute;
  top: 44px;
  width: 100%;
}

.goals-form input, .goals-form select {
  width: 100%;
}

.goals-form input {
  height: 32px;
  padding: 6px 10px;
  width: 100%;
}

.goal-info .goal-name {
  border-bottom: 1px dotted #CCC;
  color: #666;
  font-size: 18px;
  margin-bottom: 16px;
  padding-bottom: 14px;
  text-align: center;
}

.update-msg {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}

/* goal editor */

.goal-editor .goal-label, .goal-editor .custom-field, .goal-editor .custom-unit-field, .goal-editor.custom .unit-field, .goal-editor.custom .goal-name {
  display: none;
}

.goal-editor .unit-field, .goal-editor .goal-name, .goal-editor.custom .goal-label, .goal-editor.custom .custom-field, .goal-editor.custom .custom-unit-field {
  display: block;
}

/* scrolling */

#goal-forms, ul.list {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
