<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wmpwellnesstracker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>wmpwellnesstracker</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$wmpwellnesstracker</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GoalContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:y0d769lk69.database.windows.net,1433;Initial Catalog=wmpwellnesstracker_db;User ID=wmpadmin@y0d769lk69;Password=SQLmarch@)!#" Name="Data Source=tcp:y0d769lk69.database.windows.net,1433;Initial Catalog=wmpwellnesstracker_db;User Id=wmpadmin@y0d769lk69;Password=SQLmarch@)!#" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WellnessTracker.Api.Models.GoalContext, WellnessTracker.Api" MigrationConfiguration="WellnessTracker.Api.Migrations.Configuration, WellnessTracker.Api" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:y0d769lk69.database.windows.net,1433;Initial Catalog=wmpwellnesstracker_db;User ID=wmpadmin@y0d769lk69;Password=SQLmarch@)!#" Name="Data Source=tcp:y0d769lk69.database.windows.net,1433;Initial Catalog=wmpwellnesstracker_db;User Id=wmpadmin@y0d769lk69;Password=SQLmarch@)!#" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-WellnessTracker.Api-20130312204055.mdf;Initial Catalog=aspnet-WellnessTracker.Api-20130312204055;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-WellnessTracker.Api-20130312204055;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-WellnessTracker.Api-20130312204055.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:y0d769lk69.database.windows.net,1433;Initial Catalog=wmpwellnesstracker_db;User Id=wmpadmin@y0d769lk69;Password=SQLmarch@)!#</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GoalContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:y0d769lk69.database.windows.net,1433;Initial Catalog=wmpwellnesstracker_db;User Id=wmpadmin@y0d769lk69;Password=SQLmarch@)!#</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>