<div data-control="goal">
	<div>		
		<div class="measurements">
			<div data-name="goal-measurement-title">Measure</div>      
      <input type="button" class="toggle-button-template hidden" />
      <div data-name="toggle-wrapper">
        
      </div>

      <div class="custom amount">
        <input type="text" placeholder="Custom Measure" data-name="custom-goal-text"/>
		  </div>


      
      
		</div>
		<div data-name="goal-amount-title">Amount</div>
		<div class="amount">
      <input type="text" data-name="amount-textbox" class="input-text" placeholder="Enter Amount" />
		  <input type="button" value="Submit" data-name="submit-goal-btn" />
		</div>
	</div>
</div>

	
