<div data-control="home-goals">
	<div class="tile-wrapper">    
    <div class="tile" itemscope>
      <div itemprop="tileName" class="tile-title"></div>        
      <div itemprop="activityName" data-name="activity-name" class="hidden"></div>
      <div class="input-wrapper">
        <input type="text" data-name="goal-input" class="hidden" />
        <div class="set-goal-spacing hidden"></div>
        <input type="button" data-name="goal-set-btn" value="Set Goal" />
      </div>
    </div>      
	</div>
  <div class="update-btn-wrapper">
    <input type="button" data-name="update-progress-btn" value="Update Progress" class=""/>
  </div>
  
</div>
