/* structure */

.wt {
  height: 100%;
}

/* wt */

.wt {
  height: 100%;
  position: relative;
  width: 100%;
}

.wt > header {
  background: #063665;
  color: #fff;
  font-size: 12px;
  height: 44px;
  line-height: 44px;
  width: 100%;
}

.wt .back-btn {
  background: url(../images/back-btn.png) no-repeat center center;
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 44px;
  z-index: 1000;
  
}

.wt .back-btn:active {
  cursor: pointer;
  opacity: .7;
}

.wt > header > h1 {
  display: block;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -.04em;
  margin: 0 auto;
  text-align: center;
  width: 70%;
  overflow: hidden;
}

.wt header .logo {
  background: url(../images/logo44.png) center center no-repeat;
  height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

  .wt .back-btn {
    background-image: url(../images/back-btn@2x.png);
    -webkit-background-size: 44px 44px;
    -moz-background-size: 44px 44px;
    background-size: 44px 44px;
  }

  .wt header .logo {
    background-image: url(../images/logo44@2x.png);
    background-size: 44px 44px;
  }

}


/* inputs */

input[type="text"], input[type="number"], input[type="email"] {
  background: #F8F8F8;
  border: 1px solid #CCC;
  display: block;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: -1px;
  padding: 0 12px;
  margin-bottom: 20px;
  outline: none;
  width: 100%;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus {

  background: #FFF;
  border-color: #063665;
  opacity: 1;

  -webkit-appearance: none;
  -moz-appearance: none;

}



/* helpers */

.view {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.view.input-field {
  position: relative;
}

.has-header {
  top: 43px;
  bottom: 0;
}

.has-double-header {
  top: 88px;
  bottom: 0;
}

.has-triple-header {
  top: 132px;
  bottom: 0;
}

.has-footer {
  bottom: 60px;
}


/* login */

.view.login {
  background: #FFF;
}

.view.login .logo {
  background: url(../images/WestMonroe_logo.gif) no-repeat center center;
  height: 70px;
  margin: 60px auto 0;
  width: 320px;
}

.view.login .title {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  color: #063665;
  font-size: 17px;
  width: 182px;
  margin: -33px auto 0;
  text-transform: uppercase;
  padding-left: 126px;
  font-weight: bolder;
}
  
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

  .view.login .logo {
    background-image: url(../images/sales-tools-logo@2x.png);
    -webkit-background-size: 320px 160px;
    -moz-background-size: 320px 160px;
    background-size: 320px 160px;
  }
  
}

.view.login form {
  margin: 50px auto 0;
  width: 280px;
}

.view.login input {
  height: 44px;
  display: block;
  margin: 0 auto 20px auto;
  width: 280px;
}

.submit-btn, .tile input[type="button"], .toggle-button, .amount input[type="button"], .update-progress-btn{
  border: none;
  color: #FFF;
  background-color: #01325B;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.toggle-button.inactive{
  background: gray;
}

/* goals tiles */

.home-goals{
  background: #eee;
  margin-top: 44px;
}

.home-goals .submit-btn{
    height: 44px;
    display: block;
    margin: 0 auto 20px auto;
    width: 280px;
}

.tile-wrapper{
  margin: 0 auto 15px;
  color: white;
  height: 350px;
  width: 332px;
}

.tile{
  background: #fff;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  font: .8em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-align: left;
  padding: 10px 0 0 10px;
  height: 160px;
  width: 134px;
  float: left;
  margin: 7px;
  position: relative;  
}

.tile-title{
  color: #01325B;
  font-size: 15px;
  font-weight: bold;
}

.tile input[type="text"]{
  height: 24px;
  display: none;
  width: 113px;
  font-size: 14px;
}

.tile input[type="button"]{
  width: 117px;
  background-color: #01325B;
  display: none;
  height: 30px;
}

.second-row{
  clear:both;
}

.input-wrapper{
  margin: 8px auto 0 auto;
  width: 123px;
}

.activity-name{
  color: #01325B;
  padding-top: 20px;
  text-align: center;
  margin-left: -10px;
}

.set-goal-spacing{
  margin: 44px;
}

.update-btn-wrapper{
  width: auto;
  margin: 20px auto;
  display: table;
}

.update-progress-btn{
  width: 200px;
  height: 35px;
  margin-top: 12px;
}


/* focus list */

.focus{
  background: #eee;
}
.focus-list{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;  
}

.focus-list-title, .goal-measurement-title, .goal-amount-title{
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin: 25px 0 0 0;
  color: #063665;
}

.focus-list ul.list{
  background: #F7F7F7;
  border: 1px solid #CCC;
  font-size: 14px;
  list-style: none;
  overflow: hidden;
  outline: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.focus-list ul.list li{
  background: url(../images/arrow.png) right center no-repeat;
  border-bottom: 1px solid #CACACA;
  cursor: pointer;
  font-size: 14px;
  margin: 0;
  height: 42px;
  padding: 0 16px;
  line-height: 42px;
}

.focus-list ul.list li:first-child{
  border-top: none;
  height: 43px;
  line-height: 44px;
}

.focus-list ul.list li:last-child {
  border-bottom: none;
  height: 43px;
}


*/ goal page */ 

div.view.goal.active{
  background: #eeeeee;
  margin-top: 44px;
}


.toggle-button{
  float: left;
  width: 95px;
  height: 30px;
  border-radius: 0;
  border-right: 1px solid #aaa;
}

.inactive-toggle{
  background: #777;
}

.toggle-button:last-child{
  border-radius: 0 4px 4px 0;
}

.toggle-button:first-child{
  border-radius: 4px 0 0 4px;
}

.toggle-button:only-child {
  border-radius: 4px;
}

.toggle-wrapper{
  width: auto;  
  margin: 15px auto;
  display: table;

}

.activity-measure{
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin: 25px;
  color: #063665;
}

.goal-button{
  width: 130px;
  height: 30px;
}

.measurements {
  width: auto;
  margin: 15px auto 30px;  
}

.amount{
  width: 200px;
  margin: 15px auto;
}

.amount input[type="text"], input.custom-goal-text {
  width: 200px;
  height: 30px;
}

.amount .submit-goal-btn {
  width: 200px;
  height: 35px;
  margin: auto;
  text-align: center;
}



/* modal view */

.modal-view {
  background: #FFF;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  opacity: 1;
  
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
    transform: translateY(100%);
  
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  -moz-transition: -moz-transform 350ms ease-in-out;
  -o-transition: -o-transform 350ms ease-in-out;
  -ms-transition: -ms-transform 350ms ease-in-out;
}

.modal-view.visible {

  opacity: 1;
  
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  -moz-transition: -moz-transform 350ms ease-in-out;
  -o-transition: -o-transform 350ms ease-in-out;
  -ms-transition: -ms-transform 350ms ease-in-out;

}

.modal-view {
  top: 44px;
}


/* navigation view */

.navigation-view {
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.navigation-view > .view {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-background-size-backface-visibility: hidden;
}

.navigation-view.animated > .view {
  -webkit-transition: -webkit-transform 300ms ease-in-out 0s;
  -moz-transition: -webkit-transform 300ms ease-in-out 0s;
  -o-transition: -o-transform 300ms ease-in-out;
  -ms-transition: -o-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out 0s;
}

.navigation-view > .view.preload {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translate(100%);
  -ms-transform: translate(100%);
  transform: translateX(100%);
}

.navigation-view.animated > .view.pushed.hidden {
  display: block;
}

.navigation-view > .view.active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translate(0);
  -ms-transform: translate(0);
  transform: translateX(0);
}

.navigation-view.animated > .view.active.hidden {
  display: block;
}

.navigation-view > .view.unload {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translate(-100%);
  -ms-transform: translate(-100%);
  transform: translateX(-100%);
}

.navigation-view.animated > .view.unload.hidden {
  display: block;
}


input[type="button"].btn, a.btn {
  display: inline-block;
  padding: 4px 14px;
  margin-bottom: 16px;
  font-size: 13px;
  line-height: 20px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#e6e6e6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
  
  border: 1px solid #BBB;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

input[type="button"].btn, a.btn {
  display: block;
  line-height: 20px;
  margin: 5px 5px 5px 0;
  text-decoration: none;
}

input[type="button"].btn:active, a.btn:active {
  background-color: #E6E6E6;
  background-color: #D9D9D9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

input[type="button"].btn.hidden {
  display: none;
}


/* iPad Only Styles */

@media only screen and (min-width: 768px) and (min-height: 400px){ /*and (orientation:portrait) {*/
  
  body.ios .wt > header {
    height: 80px;
    line-height: 80px;
  }
  
  body.ios .wt .back-btn {
    background-image: url(../images/back-btn60.png);
    height: 80px;
    width: 80px;
    
  }
  
  body.ios .wt > header > h1 {
    font-size: 32px;
  }
  
  body.ios .wt header .logo {
    background-image: url(../images/logo80.png);
    height: 80px;
    width: 80px;
  }
  
  body.ios .has-header {
    top: 79px;
    bottom: 0;
  }
  
  body.ios .has-double-header {
    top: 140px;
    bottom: 0;
  }
  
  body.ios .has-triple-header {
    top: 167px;
    bottom: 0;
  }
  
  body.ios input[type="text"], body.ios input[type="password"], body.ios input[type="number"] {
    font-size: 16px;
    padding: 0 12px;
  }
  
  body.ios .modal-view {
    top: 80px;
  }
  
  body.ios input[type="button"].barcode-btn, body.ios a.barcode-btn {
    font-size: 14px;
    line-height: 38px;
    margin: 7px 0 8px 6px;
    padding-top: 3px;
  }
  
  body.ios .item-list ul.list > li {
    height: 60px;
  }
  
  body.ios .item-list ul.list.detailed > li {
    height: auto;
  }
  
  body.ios ul.products.list > li {
    height: auto;
  }
  
    
  body.ios .item-list .indicator-next {
    font-size: 18px;
  }
  
  body.ios .item-list .indicator-prev {
    font-size: 18px;
  }
  
  body.ios ul.list li.empty {
    font-size: 16px;
  }
  
    
  body.ios .view.login .logo {
    margin-top: 180px;
  }
  
  
  
}

@media only screen and (min-width: 768px) and (min-height: 400px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

  body.ios .wt .back-btn {
    background-image: url(../images/back-btn60@2x.png);
    -webkit-background-size: 60px 60px;
    -moz-background-size: 60px 60px;
    background-size: 60px 60px;
  }

  body.ios .wt header .logo {
    background-image: url(../images/logo80@2x.png);
    background-size: 80px 80px;
  }
  
}
