<div data-control="modal-view" data-name="modal-view">

  <div data-control="goal-setup" data-name="goal-setup" data-default="goal-chooser">
  
    <div data-control="goal-chooser">
      
      <div data-name="close-btn">Close</div>
      
      <ul data-name="list"></ul>
      
    </div>
    
    <div data-control="goal-editor">
      
      <div data-name="back-btn"></div>
      
      <form>
      
        <input type="hidden" data-name="goal-id-field" />
      
        <div data-name="goal-category"></div>
        
        <div class="goal-info">
          
          <div data-name="goal-name"></div>
          
          <label for="value-field">Goal Name</label>
          <input type="text" id="custom-field" data-name="custom-field" placeholder="Goal Name" maxlength="50" />
          
        </div>
            
        <label for="unit-field">Unit</label>
        <select id="unit-field" data-name="unit-field"></select>
        <input type="text" id="custom-unit-field" data-name="custom-unit-field" placeholder="Unit" maxlength="50" />
        
        <label for="value-field">Target Value</label>
        <input type="text" id="value-field" data-name="value-field" placeholder="Target Value" maxlength="10" />
      
        <input type="button" id="save-btn" data-name="save-btn" value="Set Goal" />
            
      </form>
      
    </div>  
  
  </div>

</div>