<div data-control="modal-view" data-name="modal-view">

  <div data-control="goal-setup" data-name="goal-setup" data-default="goal-chooser">
  
    <div data-control="goal-chooser">
      
      <header class="header-toolbar navbar-inner">
        <div data-name="close-btn" class="left-btn">Close</div>
        <h1>Choose Goal</h1>
      </header>
      
      <ul data-name="list"></ul>
      
    </div>
    
    <div data-control="goal-editor">
      
      <header class="header-toolbar navbar-inner">
        <div data-name="back-btn" class="left-btn">Back</div>
        <h1>Setup <span data-name="goal-category"></span> Goal</h1>
      </header>
      
      <form class="goals-form">
      
        <input type="hidden" data-name="goal-id-field" />
              
        <div class="goal-info">
          
          <div data-name="goal-name"></div>
          
          <label for="value-field" data-name="goal-label">Goal Name</label>
          <input type="text" id="custom-field" data-name="custom-field" placeholder="Goal Name" maxlength="50" />
          
        </div>
            
        <label for="unit-field">Unit</label>
        <select id="unit-field" data-name="unit-field"></select>
        <input type="text" id="custom-unit-field" data-name="custom-unit-field" placeholder="Unit" maxlength="50" />
        
        <label for="value-field">Weekly Target Value</label>
        <input type="number" id="value-field" data-name="value-field" placeholder="Target Value" maxlength="10" />
      
        <input type="button" id="save-btn" data-name="save-btn" class="btn" value="Set Goal" />
            
      </form>
      
    </div>  
  
  </div>

</div>
