<div data-control="login">
  
  <div id="logo"></div>
  
  <form class="login-form">
        
    <h1 class="login-label">Login</h1>
    
    <div class="control-group">
      <div class="controls">
        <input type="email" id="email-field" data-name="email-field" placeholder="Email" />
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <input type="button" id="login-btn" data-name="login-btn" class="btn" value="Login" />
      </div>
    </div>
    
  </form>
  
</div>